::-webkit-scrollbar {
    display: none;
}

.home-jumbotron {
    position: relative;
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0) 30%,
        rgba(255, 255, 255, 1)
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-jumbotron img {
    position: relative;
    width: 100%;
    height: 100vh;

    z-index: -1;
}
.home-jumbotron .home-title {
    position: absolute;
    font-size: 10rem;
    z-index: 5;
    color: rgba(254, 233, 202, 1);
    line-height: 80%;
    top: 22%;
}

.scrollable-container {
    display: flex;
    overflow-x: auto;
    border-radius: 15px;
    /* overflow-y: hidden; */
    /* background-color: blue; */
    /* padding: 10px; */
}

/* ===================Category tag======================= */
.btn.btn-secondary.disabled {
    background-color: #fee9ca !important;
    opacity: 1;
}

/* =============== Popular Destination ========================== */
.home-page h1 {
    color: #142213 !important;
}
.card-body {
    color: #ffffff !important;
    transition: 300ms ease-in;
}

.card-price {
    order: 1;
    margin-top: auto;
    color: #fb2000;
    align-self: bottom;
    padding-top: 2rem;
}

.destination-container.card {
    flex: 0 0 auto;
    border-radius: 15px !important;
    border: 2px solid #224121 !important;
    display: flex;
    overflow: hidden;
    background-color: #224121;
}

/* =============== Popular Article ========================== */

.btn-secondary {
    background-color: #fee9ca !important;
    color: #142213 !important;
    border-radius: 40px;
    padding-inline: 1rem;
}
.head.card-title,
u.head {
    color: #142213 !important;
}
u {
    color: #ffffff;
}
.card-title,
.card-text {
    color: #ffffff !important;
}

.card-img-top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.article-container.card {
    flex: 0 0 auto;
    /* border-radius: 15px; */
    /* border: 2px solid #142213 !important; */
    /* background-color: #224121; */
    /* display: flex; */
    /* align-items: left; */
    /* justify-content: center;  */

    border-radius: 15px !important;
    border: 2px solid #224121 !important;
    display: flex;
    overflow: hidden;
    background-color: #224121;
}

/* ============================ Popular Gallery ========================= */
.gallery-container.card {
    flex: 0 0 auto;
    border-radius: 15px;
    /* height: 40vh; */
    /* width: 20vw; */
    border: 2px solid #142213 !important;
    background-color: #224121;
    display: flex;
    align-items: left;
    justify-content: center;
}
