.menu {
    /* background-color: red; */
    /* position: fixed; */
    border-radius: 15px;
}
.content {
    /* background-color: yellow; */
    border: 0;
    overflow-y: auto;
}
.card-header {
    background-color: transparent;
    border: 0;
}

.card-header.h3 {
    color: #224121;
    /* background-color: pink; */
}
.list-group {
    height: 100%;
    border-radius: 15px;
    /* background-color: cyan; */
}

.list-group-item {
    border: 0 !important;
    color: #224121 !important;
    border-radius: 15px !important;
    /* background-color: transparent; */
}

.list-group-item.active {
    background-color: #c7d2c7 !important;
    border: 0 !important;
    color: #224121 !important;
}

.title.h3 {
    color: #224121;
    font-weight: bold;
}

.personal-info-container {
    color: #224121;
}

.save-button.btn {
    background-color: #fb2000;
    color: #ffffff;
}
.cancel-button.btn {
    background-color: #fee9ca;
    color: #fb2000;
}

.btn {
    width: 10vw;
}
