body {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 500;
}

.bg-light {
    background-color: #224121 !important;
}

.navbar-brand,
.navbar-nav,
.nav-link {
    color: #ffb49f !important;
}

.navbars.btn-primary {
    background-color: #ffb49f !important;
    border-color: #ffb49f !important;
    color: #fb2000 !important;
    width: 100px;
}
