body {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 500;
}
nav {
    padding: 0.5rem 1rem !important ;
}
.bg-light {
    background-color: #224121 !important;
}

.navbar-brand,
.navbar-nav,
.nav-link {
    color: #ffffff !important;
}

.navbars.btn-primary {
    background-color: #fb2000 !important;
    border-color: #fb2000 !important;
    color: #ffffff !important;
    width: 100px;
}

.navbar .nav-link.active {
    color: #fb2000 !important;
    /* Ubah warna teks sesuai kebutuhan Anda */
}

.navbar .nav-link:hover {
    color: #ffb49f !important;
}
