.h1{
    font-size: 64px;
}
.img-fluid{
    border-radius: 15px !important;
    width: 100% !important;
    height: 456px !important;
    object-fit: cover !important;
}

.btn-secondary{
    background-color: #fee9ca !important;
    color: black !important;
    width: 110px !important;
    height: 35px !important;
    font-size: 15px !important;
    border-radius: 15px !important;
}

.btn-outline-dark{
    height: 35px !important;
}

.row-desc{
    font-size: 18px;
}




