.head.card-title,
u.head {
    color: #142213 !important;
}

.card-title,
.card-text {
    color: #ffffff !important;
}

.link-offset-2 {
    color: #142213 !important;
}

.btn-success {
    background-color: #fb2000 !important;
    border-color: #224121 !important;
    color: #fee9ca !important;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.btn-secondary.disabled {
    background-color: #fee9ca !important;
    color: #142213 !important;
    border-radius: 40px;
    padding-inline: 1rem;
    opacity: 1;
}

.form-control {
    border-color: #224121 !important;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    height: 100%;
    /* width: 25rem !important; */
    width: 50% !important;
}

.headline.card {
    width: 95%;
    border-color: #ffffff !important;
}

.img-fluid {
    border-radius: 12px !important;
}

.blog-content.card {
    border-radius: 12px !important;
    border: 2px solid #224121 !important;
    display: flex;
    overflow: hidden;
    background-color: #224121;
}

.nav-pills .nav-item {
    background-color: #fee9ca;
    border-radius: 15px;
    margin-right: 10px;
}

.nav-pills .nav-item .active {
    background-color: #224121;
    border-radius: 15px;
    color: #fee9ca;
}

.nav-pills .nav-item a.active {
    color: #fee9ca !important;
}

.nav-pills .nav-item a {
    color: #224121 !important;
}

u {
    color: #ffffff;
}

.row > * {
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.form-inline {
}
